beautifulsoup4==4.12.3
certifi==2024.2.2
charset-normalizer==3.3.2
icrawler==0.6.7
idna==3.7
imutils==0.5.4
lxml==5.2.1
numpy==1.26.4
opencv-python==4.9.0.80
pillow==10.3.0
PyYAML==6.0.1
requests==2.31.0
six==1.16.0
soupsieve==2.5
urllib3==2.2.1
